body {
	background-color: #ccc;
}

.container {
	width: 400px;
	margin: 100px auto 0;
}

.card {
	border: 2px solid red;
	width: 400px;
	height: 300px;
	transform-style: preserve-3d;
	perspective: 600px;
}

.card-front,
.card-back {
	width: 400px;
	height: 300px;
	background-color: rgba(109,14,177);
	position: absolute;
	color: #FFF;
	font-size: 35px;
	backface-visibility: hidden;
	transition: all 2s ease;
}

.card-back {
	transform: rotateY(180deg);
}

.card:hover .card-back {
	transform: rotateY(360deg);
}

.card:hover .card-front {
	transform: rotateY(180deg);
}